<div class="validic-configurations">
  <p>
    <strong>Validic Secret:</strong>
    <%= @validic_configuration.secret %>
  </p>

  <p>
    <strong>API Key:</strong>
    <%= @validic_configuration.api_key %>
  </p>

  <%= link_to 'Edit', edit_validic_configuration_path(@validic_configuration) %> | 
  <%= link_to 'Back to Registrations Page', bjond_registrations_path %>
</div>
