<!DOCTYPE html>
<html>
  <head>
    <title>BjondValidicAdapter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bjond-application" ng-app="bjond-app">
		  <%= yield %>
		</div>
  </body>
  
</html>
